body {
    background-color: rgb(77, 155, 181);
  }
  
  h1, h2, h3, h4, h5, h6, p {
    color: navy;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #apbutt {
    color: navy;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(77, 155, 181);
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  button:hover {
    background-color: white;
  }

  button:active{
    background-color: red;
    transition: all 0.5s;
  }
  
  ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 20px;
    text-align: center;
  }
  li{
    float: left;
    margin: auto;
    size: 40px;
  }
  li a {
    display: block;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    text-align: center;
  }
  #navlogo{
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #bottomlogo{
    width: 200px;
  }
  
  li {
    float: left;
    padding: 5px;
  }
  
  li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    color: rgb(77, 155, 181);
    transition: all 0.5s;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: navy;
    background-color:  rgb(89, 179, 209);
  }
  li:active {
    color: whitesmoke;
    background-color: red;
    transition: all 0.5s;
  }
  #navbutt{
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    border: none;
    text-align: center;
    font-size: 15px;
    padding: auto;
    width: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    color: rgb(89, 179, 209);;
  }
  #navbutt:hover{
    color: navy;
    background-color:  rgb(89, 179, 209);
    padding: 2px;
  }
  #navbutt:active {
    color: whitesmoke;
    background-color: red;
    transition: all 0.5s;
    padding: 4px;
  }

  #textcube {
    background-color: hsla(0, 0%, 100%, 0.603);
    text-align: center;
    width: 800px;
    margin: auto;
    border-style:groove;
    border: 6px whitesmoke groove;
  }

  #error {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 8px;
  }
  #newsimg{
    width: 640px;
  }